
body {
  background-color: #202040;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.2em;
  margin: 15px;
}

div#container {
  position: fixed;
  top: 4px;
  bottom: 4px;
  left: 4px;
  right: 4px;
  
  clear: both;
}

/*@media screen and (orientation: portrait) {
  div#game {
    width: 100%;
  }
  div#dummy{
    padding-top: 100%;
  }
}*/

div#scores {
  float: left;
  width: 10%;
}
div#game {
  position: relative;
  width: 88%;
  height: 98%;
  float: right;

  background-color: #000;
}

.box {
  border: solid;
  border-width: 4px;;
  border-color: #0DD;
}

div {
  color: #0DD;
}