
body {
  background-color: #202040;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.2em;
  margin: 15px;
}

div#container {
  position: fixed;
  top: 4px;
  bottom: 4px;
  left: 4px;
  right: 4px;
  
  clear: both;
}

div#scores {
  float: left;
  width: 10%;
}
div#game {
  position: relative;
  width: 85%;
  height: 98%;
  float: right;

  //background-color: #000;
  display: block;
}

div#loading {
  text-align: center;
  font-size: 300%;
  margin: auto;
  margin-top: 50px;
}

@media screen and (orientation: portrait) {
  div#scores {
    width: 98%;
    height: 10%;
    float: none;
    clear: both;
  }
  div#game {
    width: 98%;
    height: 86%;
    float: none;
    clear: both;
  }
}

.box {
  border: solid;
  border-width: 4px;
  border-color: #0DD;
}

div {
  color: #0DD;
}