
body {
  background-color: #F8F8F8;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.2em;
  margin: 15px;
}

p {
  color: #333;
}

div#dummy{
  padding-top: 100%;
}

@media screen and (orientation: portrait) {
  div#game {
    width: 100%;
  }
}

@media screen and (orientation: landscape) {
  div#game {
    width: 40%;
  }
}

div#game {
  position: relative;
  background-color: #000;
}